{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
  
  <form action="" method=post class="form-horizontal">
    <legend>Create New Todo</legend>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="title" class="input-xlarge"
            placeholder="Enter title" value="{{ request.form.title }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=10 class="input-xlarge" placeholder="Enter text" required>{{ request.form.text }}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create Todo</button>
          <a href="{{ url_for('show_all') }}">Back to list</a>
        </div>
    </div>
  </form>
<div>
{% endblock %}
